.navbar
{font-family:    Garamond;
background-color: rgba(255,255,255,0.9);
}

.navbar-brand
{
	color: gray;
}

.jumbotron
{background-color: white;
font-family: 'Cormorant Garamond', serif;}

h2
{font-weight: bold;
margin-top:80px;}

.breadcrumb
{margin-top: 10px;
background-color: rgba(255,255,255,0.2);

color: black;}
.breadcrumb li a {color:gray}
.breadcrumb li a:hover {color:black}

p1
{font-family:    Garamond;
	font-size: 22px;
	margin-top: 120px;
}


.img-responsive{margin-bottom: 20px;
margin-top: 20px;}

h4{color:#3F3F3F;}
h4 a {color:#3F3F3F;}
p2
{font-family:    Garamond;
	font-size: 19px;
	}

		hr
	{border-color: rgba(150,150,150,0.4);
  border-width: 2px;
  }